.messages_box {
    padding: 10px;
    background: #ddddf7;
    height: calc(100% - 135px);
}

.messages.me {
    flex-direction: row-reverse;
}

.messages.me .msg_content,
.messages .msg_content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 60%;
    width: fit-content;
    height: fit-content;
    word-wrap: normal;
    gap: 12px;
}

.messages.me .msg_content img {
    border-radius: 10px 0 10px 10px;
}

.messages.me .msg_content p,
.messages .msg_content p {
    font-weight: 400;
    border-radius: 10px 0 10px 10px;
    background-color: #bff7b6;
    color: #161719;
    word-break: break-all;
    text-align: left;
}

.messages .msg_content img {
    border-radius: 0px 10px 10px 10px;
}

.messages {
    flex-direction: row;
}

.messages .msg_content {
    flex-direction: column;
    align-items: flex-start;
}

.messages .msg_content p {
    border-radius: 0px 10px 10px 10px;
    background-color: #fff;
}